{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - WeSport{% endblock %}

{% block body %}

    <h4>Reinitialiser mon mot de passe</h4>
   <p>saisissez votre email pour changer votre mot de passe</p>
   {{form(form)}}
    
{% endblock %}