{% extends 'base.html.twig' %}

{% block title %}Rajouter un sport en favori{% endblock %}

{% block body %}
	<section class="page-top-section">
		<div class="container">
			<h2>Rajouter un sport favori</h2>
		</div>
	</section>
	<section class="form-registration-section">
		<div class="container mb-5 pt-5 mt-5">
			<div class="row justify-content-md-center form-div">
				{{ 
					form_start(practicedSportForm, {
                	'attr': {'class': 'contact-form col-10 ',
            		}})
				}}
				<div class="row">
					{{form_row(practicedSportForm.name)}}
				</div>
				{{form_row(practicedSportForm.send)}}
				{{form_end(practicedSportForm)}}
			</div>
		</div>
	</section>
{% endblock %}