{% extends 'base.html.twig' %}

{% block title %}Hello UserFavoriteSportController!{% endblock %}

{% block body %}
{{form(favoriteSportForm)}}
<a href="{{path('user_favorite_sport_list')}}">liste des sports favoris</a>
{% endblock %}
