{% extends 'base.html.twig' %}

{% block title %}Liste des sports favoris
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% for favoritelist in userFavoriteSportList %}
				<div class="card" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">liste des favoris</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">sport:
							{{favoritelist.sport.name}}</li>
						<li class="list-group-item">niveau:
							{{favoritelist.level.name}}</li>
					</ul>
					<div class="card-body">
						<a href="{{ path('user_favorite_sport_update', {id: favoritelist.sport.id}) }}" class="card-link">modifié ce favori</a>
						<a href="{{ path('user_favorite_sport_delete', {id: favoritelist.sport.id}) }}" class="card-link">supprimé ce favori</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
