{% extends 'base.html.twig' %}

{% block title %}Petites annonces - WeSport{% endblock %}

{% block body %}
{{form(contactListForm)}}
<a href="{{path('contact_list_show')}}">voir mes listes de contact</a>
{% endblock %}
