{% extends 'base.html.twig' %}

{% block title %}Hello ContactListController!{% endblock %}

{% block body %}

	<section class="page-top-section">
		<div class="container">
			<h2>Mes listes de contact</h2>
		</div>
	</section>

    <section class="container pt-5">
        <div class="row justify-content-center">
            {% for list in contactList %}
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{list.name}}</h5>
                    </div>
                    {% for user in list.userContactList %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{user.username}}</li>
                        </ul>
                    {% endfor %}
                    <div class="card-body">               
                        <a href="{{ path('contact_list_updating', {id: list.id}) }}" class="card-link">modifié la liste</a>
                        <a href="{{ path('contact_list_deleting', {id: list.id}) }}" class="card-link">supprimé la liste</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
